.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body{
  margin-left: 3rem;
  margin-right: 3rem;
}

.nav-container {
  display: flex;
  background-color: lightskyblue;
  color: white;
  gap: 3rem;
}

.nav-container h1 {
  margin: 1rem;
  align-self: center;
}

.nav-container h2{
  margin: 1rem;
  align-self: center;
  font-size: 1.3rem;
}

.books-contianer {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content:  center;
  margin: 1rem;
}

.book{
  display: flex;
  flex-direction: column;
  width: 7rem;
  text-align: center;
}

.book img{
  height: 10rem;
}

.book h6{
  margin: .5rem;
}

.book p{
  font-size: .8rem;
  margin: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
